{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Расписание</title>
	<link rel="stylesheet" href={% static 'css/style.css' %}>
</head>
<body>
<div class="main-header">
    <div class="header-container">
        <div class="header-title1">
            <h1>(Тут короче будет админская страничка, но мне ща пиздец некогда этим заниматься, напишу чуть попозже короче вот)</h1>
        </div>
    </div>
</div>
<footer class="main-footer">
		<div class="footer-title">
			<h1>Оставайтесь на связи!</h1>
		</div>
		<div class="hr-line"></div>
		<div class="footer-comment">
			<span>Все права щищ!</span>
		</div>
	</footer>
</body>
</html>